@import "settings/normalize";
@import "settings/standart";


::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #969696;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #EFF3F5;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}





